@import url("./styles/header.css");  /* fazendo assim a pagina ira carregar mais rapido em vez de linkar ela no Html */


* {
    margin: 0;
    padding: 0;
}


:root {
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}